<header id="navigation" class="navbar nav-minimal {f:if(condition:'{data.is_siteroot}', then:'home')}">
    <div class="navbar nav-minimal" role="navigation">
        <div id="headerInner">
            <div class="container">
                <div class="brand">
                    <f:link.page class="navbar-brand float-left" pageUid="{settings.pidRoot}" title="Home">
                        <img class="logo" src="fileadmin/Mysite4/app/Resources/Public/img/logo.png">
                    </f:link.page>
                </div>
                <div class="nav-bars">
                    <f:render partial="SearchNav"/>

                    <div class="nav-right">
                        <div class="search" data-target="#collapseSearch" data-toggle="collapse">
                            <i class="fa fa-search"></i>
                        </div>
                        <button aria-controls="navigation" aria-label="Menu"
                                class="navbar-toggler hamburger hamburger--collapse d-lg-none"
                                data-dp-canvis="d-lg-none" data-sync="#canvas-sync" type="button" disabled>
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            <span class="menu-title">Menü</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbarResponsive" class="d-none d-lg-block w-100">
            <div class="container" id="canvas-sync">
                <f:render arguments="{_all}" partial="Navigation/Main"/>
            </div>
        </div>
    </div>
</header>

<div data-barba="wrapper">
    <div data-barba="container">
        <section class="slider">
            <f:cObject typoscriptObjectPath="lib.colContentSlide" data="4" />
        </section>
        <div data-barba-scroll></div>
        <!-- get Content -->
        <f:render section="body"/>
    </div>
    <div class="barba-overlay"></div>
</div>
<!-- Footer -->
<footer id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <f:cObject typoscriptObjectPath="lib.colContentSlide" data="2" />
            </div>
            <div class="col-md-6">
                <f:cObject typoscriptObjectPath="lib.colContentSlide" data="3" />
            </div>
        </div>
        <nav class="nav-footer">
            <!-- footer nav -->
            <f:render partial="Navigation/Footer" arguments="{_all}"/>
            <!-- Copyright -->
            <div class="copyr">
                <f:cObject typoscriptObjectPath="lib.copyr"/>
            </div>
        </nav>
    </div>
</footer>
