<header id="navigation">
    <nav class="navbar nav-minimal fixed-top" role="navigation">
        <div class="container">
            <div class="brand">
                <f:link.page pageUid="{settings.pidRoot}" class="navbar-brand float-left" title="Home">
                    <img src="fileadmin/Mysite4/app/Resources/Public/img/logo.png" class="logo">
                </f:link.page>
            </div>
            <div class="nav-bars">
                <div class="collapse navbar-toggleable" id="navbarResponsive">
                    <f:render partial="Navigation/Main" arguments="{_all}"/>
                </div>

                <f:render partial="SearchNav" />

                <div class="nav-right">
                    <div class="search" data-toggle="collapse" data-target="#collapseSearch">
                        <i class="fa fa-search"></i>
                    </div>
                    <button class="navbar-toggler hamburger hamburger--collapse float-right" type="button"
                            aria-label="Menu"
                            aria-controls="navigation" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                        <span class="menu-title">Menü</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="slider">
    <f:cObject typoscriptObjectPath="lib.slider"/>
</section>

<!-- get Content -->
<f:render section="body"/>

<!-- Footer -->
<footer id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <f:cObject typoscriptObjectPath="lib.footerNav.10"/>
            </div>
            <div class="col-md-6">
                <f:cObject typoscriptObjectPath="lib.footerNav.20"/>
            </div>
        </div>
        <nav class="nav-footer">
            <!-- footer nav -->
            <f:render partial="Navigation/Footer" arguments="{_all}"/>
            <!-- Copyright -->
            <div class="copyr">
                <f:cObject typoscriptObjectPath="lib.copyr"/>
            </div>
        </nav>
    </div>
</footer>
