<div
		id="carousel-generic-{data.uid}"
		class="carousel slide {f:if(condition:'{data.flexform_onepage}',then:' carousel-more')}"
		data-ride="carousel"
		data-interval="{f:if(condition: "
		{data.flexform_auto}", then: "{f:cObject(typoscriptObjectPath: 'lib.math', data: '{data.flexform_interval}*1000')}", else: "0")}"
data-wrap="{f:if(condition:'{data.flexform_loop}',then:'true',else:'false')}">

	<f:if condition="{data.tx_gridelements_view_children -> f:count()} > 1">
		<ol class="carousel-indicators">
			<f:for each="{data.tx_gridelements_view_children}" as="tab" iteration="tab_iteration" key="eintrag">
				<li{f:if(condition:'{tab_iteration.isFirst}',then:' class="active"')} data-target="#carousel-generic-{data.uid}" data-slide-to="{eintrag}"></li>
			</f:for>
		</ol>
	</f:if>

	<div class="carousel-inner">
		<f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
	</div>
	<f:if condition="{data.tx_gridelements_view_children -> f:count()} > 1">
		<a class="left carousel-control" href="#carousel-generic-{data.uid}" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-generic-{data.uid}" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</f:if>
</div>
