<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<div class="css--element {f:if(condition:'{data.flexform_image}',then:'lazyload bg-op ')}{f:if(condition:'{data.flexform_css}',then:"{data.flexform_css -> v:format.replace(substring:',', replacement:' ')}")}{f:if(condition:'{data.space_before_class}',then:' css-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' css-space-after-{data.space_after_class}')}"
{f:if(condition:'{data.flexform_image}',then:'data-bgset="uploads/tx_gridelements/{data.flexform_image}"')}
{f:if(condition:'{data.flexform_inlinecss}',then:'style="{data.flexform_inlinecss}"')}
>
    <div class="fluid-container">
        <f:format.raw>{data.tx_gridelements_view_columns.0}</f:format.raw>
    </div>
</div>


</html>
