<section id="onepage{data.uid}"
         class="onepage {f:if(condition:'{data.flexform_image}',then:'lazyload bg-op ')}{f:if(condition:'{data.flexform_css}',then:'{data.flexform_css}')}{f:if(condition:'{data.space_before_class}',then:' onepage-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' onepage-space-after-{data.space_after_class}')}"
         {f:if(condition:'{data.flexform_image}',then:'data-bgset="uploads/tx_gridelements/{data.flexform_image}"')}
{f:if(condition:'{data.flexform_inlinecss}',then:'style="{data.flexform_inlinecss}"')}
>
<div class="container">
  <f:format.raw>{data.tx_gridelements_view_columns.0}</f:format.raw>
</div>
</section>
