@mixin typo3CeMedia(){
    @include rem(margin, -5);

    .ce-row {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .ce-column {
        @include rem(padding, 5);
        display: block;
        float: left;

        text-align: center;
        display: block;
        float: left;

        figure {
          display: inline-block;
          max-width: 100%;

          picture {
            display: inline-block;
            max-width: 100%;

          }
        }
    }
  }

  @for $i from 1 through 12 {
    &[data-ce-columns="#{$i}"] {
      .ce-column {
        width: (100% / $i);
      }
    }
  }
}