// main: ../../style.scss

.win8_teal{
	color: $win8_font_color;
	background-color:$win8_teal;
}
.win8_blue{
	color: $win8_font_color;
	background-color:$win8_blue;
}
.win8_purple{
	color: $win8_font_color;
	background-color:$win8_purple;
}
.win8_dark_purple{
	color: $win8_font_color;
	background-color:$win8_dark_purple;
}
.win8_red{
	color: $win8_font_color;
	background-color:$win8_red;
}
.win8_orange{
	color: $win8_font_color;
	background-color:$win8_orange;
}
.win8_green{
	color: $win8_font_color;
	background-color:$win8_green;
}
.win8_sky_blue{
	color: $win8_font_color;
	background-color:$win8_sky_blue;
}
.win8_dark_teal{
	color: $win8_font_color;
	background-color:$win8_dark_teal;
}
.win8_dark_blue{
	color: $win8_font_color;
	background-color:$win8_dark_blue;
}
.win8_dark_purple{
	color: $win8_font_color;
	background-color:$win8_dark_purple;
}
.win8_dark_dark_purple{
	color: $win8_font_color;
	background-color:$win8_dark_dark_purple;
}
.win8_dark_red{
	color: $win8_font_color;
	background-color:$win8_dark_red;
}
.win8_dark_orange{
	color: $win8_font_color;
	background-color:$win8_dark_orange;
}
.win8_dark_green{
	color: $win8_font_color;
	background-color:$win8_dark_green;
}
.win8_dark_sky_blue{
	color: $win8_font_color;
	background-color:$win8_dark_sky_blue;
}
