<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.headlineStyle}">
    <f:then>
        <div class="search-toggleable collapse" id="navbarSearch">
            <div class="search-container">
                <div class="container">
                    <f:alias map="{sword: searchParams.sword}">
                        <f:render partial="Form" arguments="{_all}" />
                    </f:alias>
                </div>
            </div>

            <a href="#top" data-toggle="collapse" data-target="#navbarSearch" class="close">×</a>
        </div>
    </f:then>
    <f:else>
        <f:render partial="Form" arguments="{_all}" />
    </f:else>
</f:if>
</html>
