// main: ../style.scss
html {
	font-size: $font-size-base-calc;
	height: 100%;
}
html,
body {
	margin:0;
	padding: 0;
	background-position: right bottom;
	background-attachment: fixed;
	background-size: 100%;
}
body{
	overflow-y: scroll;
	overflow-x: hidden;

	@include font-size($font-size-base-calc);
	@include line-height($font-size-base-calc);

	@include media-breakpoint-up(md) {
		// padding-top: 70px;
	}
	@include media-breakpoint-up(lg) {
		// padding-top: 50px;
	}
	@include media-breakpoint-up(xl) {
		// padding-top: 50px;
	}

  .wf-active & {
		// Activate google Font here
	}
}

.border, div.csc-textpic-border div.csc-textpic-imagewrap img {
  border: $style_border_width solid $style_border_color;
}

.left{text-align: left;}
.small{font-size: .8em;}
.align-justify{text-align: justify;}

.right,
.csc-header-alignment-right,
.align-right{text-align: right;}

.center,
.csc-header-alignment-center,
.align-center{text-align: center;}

.indent{padding-left: 15px;}

.tx-powermail .mandatory{color:$brand-danger;}
.cc_banner-wrapper {height: 0 !important;}

/**
* SITE SPECIFIC
*/
img {
	max-width:100%;
	height:auto;
}
.no-js img[data-lazy="load"]{
	display:none !important;
}

/**
 * Reformat Breadcrumb
 */
.breadcrumb {
	background-color: transparent;
	margin-bottom: 15px;
	position: relative;
	padding-right: 0;
	padding-left: 0;

	@include font-size(13px);

	display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}

	a {
		// color: ;
	}

	.active {
		// color: ;
    }
}

p:last-child {
  margin-bottom: 0;
}

/**
 * Format Accordion
 */
.accordion-wrap {
  &.panel-group {
    .panel {
      /** Format Panel as Card **/
      @extend .card;
      /** Style Card Header **/
      .panel-heading {
        @extend .card-block;
        @include rem(padding, 10 15);
        background-color: $style_border_color;
        color: white;

        a {
          @extend .card-title;
          margin-bottom: 0;

          text-decoration: none;
          padding-left: 15px;
          position: relative;
          display: block;
          color: inherit;
          /** Define Toggle Icon **/
          .icon {
            @extend .fa;

            overflow: visible !important;
            height: auto !important;
            display: inline-block;

            position: absolute;
            left: -5px;
            top: 0;

            &:before {
              @extend .fa-plus;
            }

            &.in {
              &:before {
                @extend .fa-minus;
              }
            }
          }
        }
        /** Normalize Header Styles **/
        h1, h2, h3, h4, h5, h6 {
          font-size: inherit;
          color: inherit;
          padding: 0;
          margin: 0;
        }
      }
      /** Format Boady as Card-block **/
      .panel-body {
        @extend .card-block;
      }
    }
  }
}

/**
 * Format Row as Flex
 */
.row {
  &.row-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &.row-equalize {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
	}
}