// main: ../style.scss
.navbar {
	background-color: theme-color('dark');
	box-shadow: none;
	padding: 10px 0;

	@include media-breakpoint-up(md) {
		padding: 20px 0;
	}

	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;

	&.show {
		background-color: rgba(black, 0.9);
	}

	.container {
		position: static;

		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: space-between;

		margin-right: 0;
		margin-left: 0;

		@include media-breakpoint-up(md) {
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}

		.nav-bars {
			flex: 0 0 auto;
		}

		.brand {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	// Brand/Logo
	.navbar-brand {
		position: relative;
		margin: 0;

		@include media-breakpoint-up(sm) {
			margin-right: 16px;
		}
		// Preload Image
		&:before {
			background-image: url(../img/logo.png);
			content: '';

			display: block;
			height: 0;
			width: 0;

			position: absolute;
			left: 0;
			top: 0;
		}

		img {
			max-width: 90%;

			@include media-breakpoint-up(sm) {
				max-width: 80%;
			}
		}
	}
	// Search & Toggle Btn
	.nav-right {
		.search {
			float: left;

			i {
				padding: 12px 14px;
				font-size: 22px;
				line-height: 24px;
				color: theme-color('light');
				cursor: pointer;
			}
		}

		.navbar-toggler {
			display: flex;
			align-items: center;

			@include rem(padding, 10);
			margin: 0;

			@include transition(all 0.7s);
			color: theme-color('light');
			text-transform: uppercase;
			font-size: 12px;

			&:hover {
				color: theme-color('light');
			}
			&:focus {
				outline: none;
			}

			.hamburger-box {
				margin-top: 5px;

				@include media-breakpoint-up(sm) {
					margin-right: 10px;
					margin-top: 0;
				}

				.hamburger-inner {
					background-color: theme-color('light');

					&:before {
						background-color: theme-color('light');
					}
					&:after {
						background-color: theme-color('light');
					}
				}
			}

			.menu-title {
				margin-top: 3px;
				display: none;

				@include media-breakpoint-up(sm){
					display: block;
				}
			}
		}
	}
	// Search Bar
	.search-toggleable {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.9);

		.search-container {
			padding: 25px 0;

			form {
				position: relative;
			}

			.form-control {
				background-color: transparent;
				border: 0;
				padding: 0;
				color: white;
				font-size: 21px;
				line-height: 28px;

				+ .focus-bar {
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;

					height: 2px;

					display: flex;
					justify-content: center;
					align-items: center;

					&:before {
						content: '';
						display: block;
						height: 100%;
						width: 0%;
						transition: all .4s ease-in-out;

						background-color: theme-color('primary');
					}
				}

				&:focus + .focus-bar:before {
					width: 100%;
				}
			}

			.input-group-btn {
				display: none;
			}
		}
		.close {
			position: absolute;
			right: 10px;
			top: 10px;

			color: theme-color('light');
		}
	}
	// Navigation
	.navbar-toggleable {
		max-height: calc(100vh - 90px);
		overflow: auto;
	}
	//Navbar
	.nav {
		> .nav-item {
			> .nav-link {
				display: block;
				color: theme-color('light');
				text-transform: uppercase;

				&:hover {
					color: theme-color('secondary');
				}
			}

			&.active {
				> .nav-link {
					color: theme-color('primary');
				}
			}
		}
	}
}

.nav-minimal {
	// Navigation
	.navbar-toggleable {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;

		background-color: rgba(black, 0.9);

		@include media-breakpoint-up(md) {
			overflow: hidden;
		}

		&.show {
			max-height: calc(100vh - 70px);
			overflow-y: auto;

			@include media-breakpoint-up(md) {
				max-height: inherit;
			}
		}
		// navbar Wrap
		.header-nav {
			margin: 0 20px;
			text-align: center;

			@include media-breakpoint-up(md) {
				display: flex;
				justify-content: center;
				align-items: center;

				margin: 70px 0;

				text-align: left;
			}
			@include media-breakpoint-up(lg) {
				margin: 100px 0;
			}

			.head-nav {
				border-bottom: 1px solid white;
				padding-bottom: 50px;

				@include media-breakpoint-up(md) {
					border-right: 1px solid white;
					border-bottom: 0;
					float: left;
					padding-right: 50px;
					margin-right: 50px;
				}
				@include media-breakpoint-up(lg) {
					padding-right: 90px;
					margin-right: 70px;
				}
			}
		}
		// navs
		.nav {
			flex-direction: column;
			// Main Navigation
			&.navbar-nav {
				> .nav-item {
					> .nav-link {
						font-size: 35px;

						transition: all 0.2s ease-in-out;

						@include media-breakpoint-up(md) {
							font-size: 42px;
						}
					}
				}
			}
			// Besite Main
			&.sub-nav {
				margin: 0;
				padding: 50px 0;
				list-style: none;

				@include media-breakpoint-up(md) {
					display: inline-block;
					padding: 0;
				}

				> .nav-item {
					line-height: 13px;

					> .nav-link {
						font-size: 21px;
						transition: all 0.2s ease-in-out;
					}
				}
			}
		}
	}
}

.nav-inline {
	@include media-breakpoint-up(lg) {
		padding: 0;
	}
	.navbar-brand {
		@include media-breakpoint-up(lg) {
			padding: 20px 0;
		}
	}
	// Search & Toggle Btn
	.nav-right {
		@include media-breakpoint-up(lg) {
			align-self: center;
		}
		.navbar-toggler {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}
	.container {
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}
	}
	.nav-bars{
		display: flex;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}
	}
	// Navigation
	.navbar-toggleable {
		background-color: rgba(theme-color('dark'), 0.9);
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;

		@include media-breakpoint-up(lg) {
			background-color: transparent;
			position: static;
			display: block;
			overflow: visible;
		}
		.nav {
			&.navbar-nav {
				position: relative;
				overflow: hidden;
				flex-wrap: nowrap;
				@include media-breakpoint-up(lg) {
					flex-direction: row;
					flex-wrap: wrap;
					align-items: stretch;
					overflow: visible;
					height: 100%;
				}
				> .nav-item {
					@include media-breakpoint-up(lg) {
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}

			> .nav-item {
				> .nav-link {
					@include rem(padding, 10 15);
					border-bottom: 1px solid theme-color('light');

					@include media-breakpoint-up(lg) {
						border-bottom: 0;
					}
					@include media-breakpoint-up(xl) {
						font-size: 1.15rem;
					}
				}
			}
		}
	}
	// Dropdowns
	.dropdown {
		position: static;
		@include media-breakpoint-up(lg) {
			position: relative;
		}
		// Nav Formating
		.nav {
			flex-direction: column;
			flex-wrap: nowrap;
		}
		// nav Wrap
		.dropdown-wrap {
			background-color: theme-color('dark');
			transition: all .4s ease-in-out;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			overflow: hidden;

			transform: translate(100%, 0);

			@include media-breakpoint-up(lg) {
				transform: translate(0, 0);
				z-index: -1;
				bottom: auto;
				right: auto;
				top: 100%;
				left: 0;

				overflow: visible;

				opacity: 0;
				visibility: hidden;
			}

			.dropdown-wrap {
				@include media-breakpoint-up(lg) {
					left: 100%;
					top: 0;
				}
			}

			.list-header {
				position: relative;
				@include rem(padding, 10 15);
				border-bottom: 1px solid theme-color('light');
				color: theme-color('light');

				text-align: center;
				cursor: pointer;

				@include media-breakpoint-up(lg) {
					display: none;
				}

				&:before {
					@extend .fas;
					@extend .fa-angle-left;

					display: flex;
					justify-content: center;
					align-items: center;

					font-size: 22px;
					height: 100%;
					width: 44px;

					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					top: 0;

				}
			}

			&.show {
				transform: translate(0, 0);
			}

			> ul {
				overflow: auto;
				max-height: 100%;

				@include media-breakpoint-up(lg) {
					overflow: visible;
				}
			}
		}
		// Hover event
		&:hover {
			> .dropdown-wrap {
				@include media-breakpoint-up(lg) {
					opacity: 1;
					visibility: visible;

					animation-name: dropdown-nav;
					animation-duration: .4s;
					animation-iteration-count: 1;
				}
			}
		}
		// Link
		> .nav-link {
			position: relative;
			@include media-breakpoint-down(md) {
				padding-right: 55px !important;
			}
			> .trigger {
				border-left: 1px solid theme-color('light');
				cursor: pointer;

				display: flex;
				justify-content: center;
				align-items: center;

				font-size: 22px;
				height: 100%;
				width: 44px;

				position: absolute;
				bottom: 0;
				right: 0;
				top: 0;

				@include media-breakpoint-up(lg) {
					display: none;
				}

				&:before {
					@extend .fas;
					@extend .fa-angle-right
				}
			}
		}
	}
}

@keyframes dropdown-nav {
	from {
		top: -100%;
	}
	to {
	}
}

.nav-light {
	background-color: rgba(theme-color('light'), 0.9);

	&.show {
		background-color: rgba(theme-color('light'), 0.9);
	}
	// Search & Toggle Btn
	.nav-right {
		.search {
			i {
				color: theme-color('dark');
			}
		}

		.navbar-toggler {
			color: theme-color('dark');
			&:hover {
				color: theme-color('dark');
			}

			.hamburger-box {
				.hamburger-inner {
					background-color: theme-color('dark');

					&:before {
						background-color: theme-color('dark');
					}
					&:after {
						background-color: theme-color('dark');
					}
				}
			}
		}
	}
	// Search Bar
	.search-toggleable {
		background-color: rgba(theme-color('light'), 0.9);

		.search-container {

			.form-control {
				::placeholder {
					color: theme-color('dark');
				}
			}
		}
		.close {
			color: theme-color('dark');
		}
	}
	//Navbar
	.nav {
		> .nav-item {
			> .nav-link {
				color: theme-color('dark');

				&:hover {
					color: theme-color('secondary');
				}
			}

			&.active {
				> .nav-link {
					color: theme-color('primary');
				}
			}
		}
	}
	// Minimal Nav
	&.nav-minimal {
		// Navigation
		.navbar-toggleable {
			background-color: rgba(theme-color('light'), 0.9);

			// navbar Wrap
			.header-nav {
				.head-nav {
					border-bottom-color: theme-color('dark');

					@include media-breakpoint-up(md) {
						border-right-color: theme-color('dark');
					}
				}
			}
		}
	}
}