// main: ../style.scss
img.lazyloaded {
	width: auto;
}

.ce-gallery {
	@include typo3CeMedia();
}


.ce-textpic.ce-intext {
	@extend .clearfix;

	.ce-gallery {
		@include media-breakpoint-down(sm) {
			padding-bottom: 10px;
		}
		@include media-breakpoint-up(md) {
			max-width: 60%;
		}

		.ce-row {
			@include media-breakpoint-down(sm) {
				justify-content: center;
			}

			.ce-column{
				@include media-breakpoint-down(sm) {
					text-align: center;
				}
			}
		}
	}

	&.ce-right {
		.ce-gallery {
			@include media-breakpoint-up(md){
				padding: 0 0 10px 10px;
				float: right;
			}
		}
	}

	&.ce-left {
		.ce-gallery {
			@include media-breakpoint-up(md){
				padding: 0 10px 10px 0;
				float: left;
			}
		}
	}

	&.ce-nowrap {
		@include media-breakpoint-up(md) {
			display: flex;
		}

		.ce-gallery {
			@include media-breakpoint-up(md) {
				padding-bottom: 0;
				flex: 0 0 auto;
				float: none;
			}
		}

		&.ce-right {
			.ce-gallery {
				@include media-breakpoint-up(md) {
					order: 2
				}
			}
		}
	}
}