// main: ../style.scss

/*
 * MEGA NAV EXAMPLE
 * --------------------------------------------------
  <nav class="navbar navbar-light" role="navigation">
    <div class="container">
      <!-- OffCanvis Toogle -->
      <button class="navbar-toggler hamburger hamburger--collapse hidden-md-up" type="button"
        aria-label="Menu" aria-controls="navigation" data-toggle="collapse" data-target=".main-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <!-- Desktop nav -->
      <ul class="nav navbar-nav pull-md-right hidden-sm-down">
        <li class="nav-item">
          <!-- href, for no JS fallback, data-mega for JS Animations -->
          <a href="#mega" class="nav-link" data-mega="#mega">Link</a>
        </li>
        <!-- {LISTITEMS} -->
      </ul>

    </div>
  </nav>
  <nav class="navbar navbar-mega navbar-light">
    <div class="container">
      <div class="collapse navbar-toggleable-md main-nav in">
        <!-- Overlay to Background Click toogle OffCanvis -->
        <button type="button" class="nav-overlay" data-toggle="collapse" data-target=".main-nav" aria-expanded="true" style=""> &nbsp; </button>
        <!-- Offcanvis -->
        <div class="offCanvis">
          <!-- Off-Canvis Nav -->
          <ul class="nav navbar-nav">
            <!-- data-nav="true" :: activte JavaScript -->
            <li class="nav-item" data-nav="true" id="mega">
              <!-- hidden Mobile -->
              <a href="#" class="nav-link">Link</a>
              <!-- Wrap Childs::Start -->
              <span class="nav-trans">
                <ul class="nav">
                  <li class="nav-item">
                    <span class="nav-header">Link</span>
                    <ul class="nav">
                      <!-- {LISTITEMSCHILD} -->
                    </ul>
                  </li>
                  <li class="nav-item">
                    <span class="nav-header">Link</span>
                    <ul class="nav">
                      <! -- {LISTITEMSCHILD} -->
                    </ul>
                  </li>
                  <!-- hide Mobile -->
                  <li class="nav-item hidden-sm-down">
                    <span class="nav-header">Link</span>
                    <div>
                      <!-- {SOME TEXT MAYBE} -->
                    </div>
                  </li>
                  <!-- Close Child on Mobile::Ende -->
                </ul>
              </span>
              <!-- Wrap Childs::Ende -->
            </li>
            <!-- {LISTITEMS} -->
          </ul>
        </div>
      </div>
    </div>
  </nav>

 * --------------------------------------------------
 */
@mixin megaMenüColor($mediaUp, $mediaDown, $color1 , $color2){
  .offCanvis  {
    // Colorise
    background-color: rgba($offcanvis-bg, .8);

    @include media-breakpoint-up($mediaUp) {
      background-color: transparent;
    }

    .navbar-nav {
      > li.nav-item {
        > a {
          background-color: transparent;
          color: $color1;

          &:after {
            border-top-color: transparent;
            border-right-color: $color1;
          }

          &:hover {
            color: $color2;

            &:after {
              border-right-color: $color2;
            }
          }
        }
        &.active {
          > a {
            color: $color2;

            &:after {
              border-right-color: $color2;
              border-top-color: transparent;
            }
          }
        }
        &.in-sub {
          > a {
            color: $color2;

            &:after {
              border-top-color: $color2;
              border-right-color: transparent;
            }
          }
        }

        span.nav-trans {
          // Colorise
          background-color: transparent;

          > ul {
            > li {
              > .nav-header {
                background-color: transparent;
                color: $color1;
              }

              a {
                &:hover {
                  color: $color2;
                }
              }

              .mega-sub {
                > a {
                  &:after {
                    border-top-color: transparent;
                    border-right-color: $color1;
                  }

                  &:hover {
                    &:after {
                      border-right-color: $color2;
                    }
                  }
                }
                &.active {
                  > a {
                    color: $color2;

                    &:after {
                      border-right-color: $color2;
                      border-top-color: transparent;
                    }
                  }
                }
                &.in-sub {
                  > a {
                    color: $color2;

                    &:after {
                      border-top-color: $color2;
                      border-right-color: transparent;
                    }
                  }
                }
              }

              > div {
                @include media-breakpoint-up($mediaUp) {
                  //background-color: $color2;
                }
              }
              > ul {
                > li {
                  > a {
                    border: 0;

                    @include media-breakpoint-up($mediaUp) {
                      //background-color: $color2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@mixin megaMenü($mediaUp, $mediaDown) {

  .offCanvis  {
    @include rem(padding-top, 5);

    @include media-breakpoint-up($mediaUp) {
      @include rem(padding-top, 0);

    }

    .navbar-nav {
      > li.nav-item {
        @include rem(padding, 10 10);
        display: block;

        @include media-breakpoint-up($mediaUp) {
          @include rem(padding, 20 0 0 0);
          overflow: hidden;
          display: none;
          width: 100%;
          float: none;
        }

        & + li.nav-item {
          @include rem(margin-left, 0);
        }

        .no-js &:target,
        &.on {
          @include media-breakpoint-up($mediaUp) {
            display: block;
          }
        }

        > a {
          text-transform: uppercase;
          font-weight: bold;
          border-bottom: 0;

          @include media-breakpoint-up($mediaUp) {
            display: none;
          }
        }

        span.nav-trans {
          @extend .clearfix;
          @include transform(none);
          position: static;
          display: none;

          @include media-breakpoint-up($mediaUp) {
            visibility: visible;
            display: block;
            opacity: 1;
          }

          @include media-breakpoint-up(lg) {
            justify-content: space-between;
            flex-flow: row nowrap;
            display: flex;
          }

          &.on {
            display: block;
          }
          > ul {
            display: block;

            @include media-breakpoint-up($mediaUp) {
              @include rem(padding-left, 0);
              @include rem(margin, 0 -15);
              display: block;
            }

            &:after {
              content: '';
              display: table;
              clear: both;
            }
            > li {
              @include rem(padding, 10 0);

              @include media-breakpoint-up($mediaUp) {
                @include rem(padding, 0 15);
                float: left;
                width: 33%;
                margin: 0;
              }

              &.dropdown-nav-close {
                display: none;
              }

              > .nav-header {
                border-bottom: 1px solid #aaa;
                @include rem(margin, 0 0 15 10);
                @include rem(padding, 2 10 10 0);
                line-height: 1;
                text-transform: uppercase;
                font-weight: bold;
                display: block;

                @include media-breakpoint-up($mediaUp) {
                  @include rem(padding, 2 0 8 0);
                  @include rem(margin, 0 0 24 0);
                }
              }

              > div {
                @include rem(margin-top, 1);
                @include rem(padding, 7 10);
              }

              > ul {
                > li {
                  @include media-breakpoint-up($mediaUp) {
                    @include rem(padding, 1 0);
                  }

                  > a {
                    @include media-breakpoint-up($mediaUp) {
                      border: 0;
                    }
                  }

                  span.nav-trans {
                    > ul {
                      > li {
                        @include rem(padding, 0);

                        > a {
                          border: 0;
                          @include rem(padding, 2 10 2 25);

                          @include media-breakpoint-up($mediaUp) {
                            @include rem(padding, 1 0 1 20);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        > span.nav-trans {
          > ul {
            display: block;

            @include media-breakpoint-up($mediaUp) {
              display: flex;
            }

            > li {
              @include media-breakpoint-up($mediaUp) {
                @include rem(padding-bottom, 30);
              }
              > ul {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.navbar {
  box-shadow: 0px 1px 5px #999;
  border-radius: 0;

  &.navbar-mega {
    @include transition(all .7s ease);
    @include rem(padding, 0);
    background-color: #d6d6d6;
    box-shadow: 0px 1px 5px #999;
    .main-nav {
      &.navbar-toggleable {
        &-sm {
          @extend .clearfix;
          @include megaMenü(sm,xs);
        }
        &-md {
          @extend .clearfix;
          @include megaMenü(md,sm);
        }
        &-lg {
          @extend .clearfix;
          @include megaMenü(lg,md);
        }
      }
    }
  }

  &:not(.navbar-mega){
    position: relative;
    z-index: 100;
  }

  &.navbar-light {
    &.navbar-mega {

      .navbar-toggleable {
        &-sm {
          @include megaMenüColor(sm, xs, $style_color_dark, $style_border_color);
        }
        &-md {
          @include megaMenüColor(md, sm, $style_color_dark, $style_border_color);
        }
        &-lg {
          @include megaMenüColor(lg, md, $style_color_dark, $style_border_color);
        }
      }
    }
  }
  // &.navbar-dark {
  //   @include megaMenüColor(sm, xs, #fff, #000);
  // }
}
