/**
 * Dynamic Form Loading
 */
div.search[search-loading] {
  [form-input] {
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    width: 0;

    &.show {
      opacity: 1;
      visibility: visible;
      width: 200px;
    }

    .focus-bar {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      height: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: '';
        display: block;
        background-color: #2473be;
        transition: all .4s ease-in-out;
        height: 100%;
        width: 0;
      }
    }

    .form-control {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      border-top: 0;

      &:focus + .focus-bar:before {
        width: 100%;
      }
    }

    form {
      position: relative;
    }
  }

  $size: 40px;
  a {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition-duration: .3s;
    background-color: #fff;
    border-radius: 50%;
    font-size: .9rem;
    cursor: pointer;
    color: inherit;
    height: $size;
    width: $size;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 40;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      background-color: #f2f2f2;
    }
  }
}
/**
 * Default TX Search Layout
 */
.tx-indexedsearch-res {
  padding-top: 30px;

  h3 {
    .tx-indexedsearch-percent {
      float: right;
    }
  }

  .tx-indexedsearch-info {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-wrap: wrap;

    > div {
      border-bottom: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
      display: flex;
      width: 100%;

      @include media-breakpoint-up(md){
        width: 50%;
      }

      @include media-breakpoint-up(lg){
        width: 25%;
      }

      .tx-indexedserach-footer-headline {
        font-weight: bold;
        padding: 5px;

      }
      .tx-indexedserach-footer-wert {
        padding: 5px;
        overflow: hidden;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

      }
    }
  }
}

ul.tx-indexedsearch-browsebox {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-top: 16px;

  li {
    float: left;

    &.tx-indexedsearch-browselist-currentPage {
      a {
        cursor: default;
        color: #014c8c;
        text-decoration: none;
        background-color: #eceeef;
        border-color: #ddd;
      }
    }

    a {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #0275d8;
      background-color: #fff;
      border: 1px solid #ddd;

      &:hover {
        color: #014c8c;
        text-decoration: none;
        background-color: #eceeef;
        border-color: #ddd;
      }
    }
  }
}
