// main: ../style.scss

/**
* TOOGLE box-shadow:
*/
.toggle-header > div > *{
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 0px;
  padding: 0;
  background-position: 0 -120px;
  background-repeat: repeat-x;
}
.toggle-header,
.toggle-header *{
  background-image: url(img/style2.png);
  background-repeat: no-repeat;
}
.toggle-header{
  margin-top: 5px;
  padding-left: 10px;
}
.toggle-header > div{
  padding-right: 10px;
  background-position: 100% -60px;
}

.toggle-header.active,
.toggle-header:hover,
.toggle-header:focus{
  background-position: 0 -30px;
}
.toggle-header.active > div,
.toggle-header:hover > div,
.toggle-header:focus > div{
  background-position: 100% -90px;
}
.toggle-header.active > div > *,
.toggle-header:hover > div > *,
.toggle-header:focus > div > *{
  background-position: 0 -150px;
}
.toggle-body {
  padding-top: 10px;
  padding-left: 10px;
}


.toggle-header{
  background-color: $style_color_dark;
  color:white;
  text-transform: uppercase;
  padding: 10px 10px 10px 40px;
  position: relative;

  margin-bottom: 10px;

  cursor: pointer;

  &:before{
    display: inline-block;
    content: "\f0fe";

    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 10px;
    top:10px;
    bottom:0;

    color:white;
  }
  &.active{
     &:before{
      display: inline-block;
      content: "\f146";
    }
  }

  &.first{
    margin-top: 25px;
  }

  .csc-header {
    > * {
      font-size: 18px;
      margin:0;
      color:white;
    }
  }
}
.toggle-body {
  padding:5px 40px 15px 40px;
}
